$COLOR_MAIN: #ffb838;
//$COLOR_DARKER: #99905f;
$COLOR_DARKER_LIRHGT: #999274;
$COLOR_MENTION: #cc8018;
$COLOR_EMPHASIS: #c8efff;
$COLOR_EMPHASIS_DARKER: #84d8e0;

$COLOR_COMBINED: $COLOR_MAIN;
$COLOR_UNTIED_BACKGROUND: #d3d3d3;
$COLOR_ERASE: $COLOR_DARKER_LIRHGT;

.title {
	font-weight: bold;
	color: $COLOR_MAIN;
}

.clear {
	clear: both;
}

.play-panel {
	align: center;
	width: 300px;
	margin-bottom: 20px;

	.info-panel {
		width: 100px;
		float: left;

		.info-heading {
			background-color: $COLOR_EMPHASIS;
		}
	}
	.kana-panel {
		display: table;
		background-color: $COLOR_EMPHASIS;
		margin: 0 auto 0 auto;
		padding: 4px;
	}
}

.kana-table {
	border: 0px;
	background-color: $COLOR_EMPHASIS;

	.cell {
		margin: 2px;
		padding-left: 6px;
		padding-right: 6px;
		background-color: $COLOR_EMPHASIS_DARKER;
		border-color: $COLOR_DARKER_LIRHGT;
	}

	.cell-neutral {
		background-color: #fefefe;
	}

	.cell-combined {
		background-color: $COLOR_COMBINED;
	}

	.cell-united {
		background-color: $COLOR_UNTIED_BACKGROUND;
	}

	.cell-willerase {
		background-color: $COLOR_ERASE;
	}

	.kana-common {
		border-bottom-style: solid;
		border-bottom-width: 5px;
	}

	.kana-neutral {
		border-color: $COLOR_EMPHASIS_DARKER;
	}

	.kana-combined {
		border-color: $COLOR_COMBINED;
	}

	.kana-willerase {
		border-color: $COLOR_ERASE;
	}

	.kana1 {
		border-color: #f0e68c;
	}

	.kana2 {
		border-color: #87cefa;
	}

	.kana3 {
		border-color: #9acd32;
	}

	.kana4 {
		border-color: #ffe4e1;
	}

	.kana5 {
		border-color: #b0c4de;
	}

	.kana6 {
		border-color: #ffdab9;
	}
}

.command-table {
	margin: 20 auto 20 auto;
	border: 0px;

	.command-column {
		width: 42px;
	}

	button.command {
		width: 40px;
		height: 34px;
	}
}
