<div align="center">

<div class="panel {{messageState}}">
	<div class="panel-heading">
		{{message}}
	</div>
	<div class="panel-body">
		つくる言葉: {{words}}
	</div>
</div>

<table class="kana-table" style="border: 0px;">
	<tr v-repeat="kanaTable.rows" data-index='{{$index}}'>
		<td v-repeat="cells">
			<p class="btn btn-default" style="background-color: {{color()}}">{{kana}}</p>
		</td>
	</tr>
</table>

<p><strong>score: {{score}} / {{tick}} 手</strong></p>

<table class="command-table" style="border: 0;">
	<tr>
		<td></td>
		<td>
			<button type="button" class="btn btn-default command"
				v-on='touchstart: shiftUp, click: shiftUp'>↑</button>
		</td>
		<td></td>
	</tr>
	<tr>
		<td>
			<button type="button" class="btn btn-default command"
				v-on='touchstart: shiftLeft, click: shiftLeft'>←</button>
		</td>
		<td></td>
		<td>
			<button type="button" class="btn btn-default command"
				v-on='touchstart: shiftRight, click: shiftRight'>→</button>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<button type="button" class="btn btn-default command"
				v-on='touchstart: shiftDown, click: shiftDown'>↓</button>
		</td>
		<td></td>
	</tr>
</table>

</div>
