<div align="center">

<div class="panel {{messageState}}">
	<div class="panel-body">
		{{message}}
	</div>
</div>

<div class="play-panel">
	<div class="info-panel text-left">
		<p class="text-center info-heading">言葉</p>
		<ul>
			<li v-repeat="ruleList">{{toString()}}</li>
		</ul>
		<p class="text-center info-heading visible-xs">スコア</p>
		<p class="text-center visible-xs">{{score}}点 / {{tick}}手</p>
	</div>
	<div class="kana-panel">
		<table class="kana-table" style="border: 0px;">
			<tr v-repeat="kanaTable.rows" data-index='{{$index}}'>
				<td v-repeat="cells">
					<div class="{{ 'btn btn-default cell ' + (isEmpty() ? '' : (isCombined() ? 'cell-combined' : ( isUnited() ? 'cell-united' : ( willBeClear() ? 'cell-willerase' : 'cell-neutral'))))}}">
						<span class="{{ 'kana-common ' + (isCombined() ? 'kana-combined' : ( willBeClear() ? 'kana-willerase' : style) ) }}">{{kana}}</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="clear hidden-xs">
	<p class="text-center">スコア： <strong>{{score}}点 / {{tick}}手</strong></p>
	<table class="command-table">
		<tr>
			<td class="command-column">
				<button type="button" class="btn btn-default command"
					v-on='touchstart: shiftLeft, click: shiftLeft'>←</button>
			</td>
			<td class="command-column">
				<button type="button" class="btn btn-default command"
					v-on='touchstart: shiftUp, click: shiftUp'>↑</button>
				<p></p>
				<button type="button" class="btn btn-default command"
					v-on='touchstart: shiftDown, click: shiftDown'>↓</button>
			</td>
			<td class="command-column">
				<button type="button" class="btn btn-default command"
					v-on='touchstart: shiftRight, click: shiftRight'>→</button>
			</td>
		</tr>
	</table>
</div>

<div class="visible-xs">
	<table class="command-table">
		<tr>
			<td class="command-column">
				<button type="button" class="btn btn-default command"
					v-on='touchstart: shiftLeft, click: shiftLeft'>←</button>
			</td>
			<td class="command-column">
				<button type="button" class="btn btn-default command"
					v-on='touchstart: shiftUp, click: shiftUp'>↑</button>
				<p></p>
				<button type="button" class="btn btn-default command"
					v-on='touchstart: shiftDown, click: shiftDown'>↓</button>
			</td>
			<td class="command-column">
				<button type="button" class="btn btn-default command"
					v-on='touchstart: shiftRight, click: shiftRight'>→</button>
			</td>
		</tr>
	</table>
</div>

</div>
