.title {
  font-weight: bold;
  color: #ffb838; }

.clear {
  clear: both; }

.short-margin {
  margin-bottom: 2px; }

.play-panel {
  align: center;
  width: 300px;
  margin-bottom: 20px; }
  .play-panel .info-panel {
    width: 100px;
    float: left; }
    .play-panel .info-panel .info-heading {
      background-color: #c8efff; }
  .play-panel .kana-panel {
    display: table;
    margin: 0 auto 0 auto; }

.kana-next {
  margin: 4px; }

.kana-table-wrap {
  padding: 4px;
  background-color: #c8efff; }

.kana-table {
  border: 0px; }

.cell {
  margin: 2px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #84d8e0;
  border-color: #999274; }

.cell-neutral {
  background-color: #fefefe; }

.cell-combined {
  background-color: #ffb838; }

.cell-united {
  background-color: lightgrey; }

.cell-willerase {
  background-color: #999274; }

.kana-common {
  border-bottom-style: solid;
  border-bottom-width: 5px; }

.kana-neutral {
  border-color: #84d8e0; }

.kana-combined {
  border-color: #ffb838; }

.kana-willerase {
  border-color: #999274; }

.kana1 {
  border-color: #f0e68c; }

.kana2 {
  border-color: #87cefa; }

.kana3 {
  border-color: #9acd32; }

.kana4 {
  border-color: #ffe4e1; }

.kana5 {
  border-color: #b0c4de; }

.kana6 {
  border-color: #ffdab9; }

.command-table {
  margin: 20 auto 20 auto;
  border: 0px; }
  .command-table .command-column {
    width: 42px; }
  .command-table button.command {
    width: 40px;
    height: 34px; }
